<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Kenny's Dev Tools</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="编码" nzIcon="qrcode">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/coding/base64">Base64</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/coding/compression">压缩流</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="安全" nzIcon="security-scan">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/security/cert">cert 管理</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/security/jwks">jwks</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/security/jwt">jwt</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
